*{
  padding: 0;
  margin:0;
}


.top-head{

  padding:10px 5px;

background: rgb(54,54, 102) ;



}

.col-40{
  padding: 15px 5px;
  


}

.col-40 li{
  display: inline-block;

  list-style:none;
  

}
.col-40 ul li a{
 text-decoration: none;
 float:right;
padding-right: 10px;
font-weight: 700;
text-transform: capitalize;
color:white;
font-size:20px;
margin:0 10px;
transition: 1s;



}
.col-40 ul li a:hover{
  color:aqua;
}

.col-30{
float:right;

padding-bottom: 40px;
text-align: center;
 margin-bottom: auto;
}
.col-30 a{
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  background:brown;
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
  float:left;
 text-decoration: none;
 color:white;
}